<div class="card">
    <div class="card-header">
        <h3 style="font-weight: bold;" class="card-title float-left">Personel Listesi </h3>
        
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="ik-table" class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>TC Kimlik</th>
                    <th>Sicil No</th>
                    <th>Personel Ad Soyad</th>
                    <th>Departman</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                </tr>
            </thead>
            <tbody>

                 

            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>TC Kimlik</th>
                    <th>Sicil No</th>
                    <th>Departman</th>
                    <th>Personel Ad Soyad</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
